<h1>Edit Your Question Here</h1>

<main class="form-wrapper" role="main">
  <form method="post" action="/questions/<%= @question.id %>">
    <label for="Question">Singer name:</label>
    <input id="singer_name_input" name="question[singer]" type="text" value="<%= @entry.try(:singer) %>">

    <label for="song_title_input">Song title:</label>
    <input id="song_title_input"  name="entry[song_title]" type="text" value="<%= @entry.try(:song_title) %>">
    <input name="_method" type="hidden" value="post" >
    <input type="submit" value="Update Entry" class="button">
  </form>
</main>

