<h1 class="login_title">Please ask the developer community a question:</h1>

<main class="form-wrapper" role="main">

  <% if @errors %>
    <div class="errors-wrap">
      <span>Your entry could not be saved:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <form class="form_container" method="post" action="/questions">
    <div class="form_lables">
      <label for="Title">Question Title:</label>
      <input id="question_title" name="question[title]" type="text" value="<%=   @question.try(:title) %>">
    </div>
    <div class="form_lables">
      <label for="question">Question Narrative:</label>
      <textarea id="question_body" name="question[body]" value="<%= @question.try(:body) %>"></textarea>
    </div>
    <div class="form_lables">
     <input type="submit" value="Submit Question" class="button">
    </div>
  </form>
</main>












