<div>
  <h1 class="login_title">Log-in</h1>


  <form class="form_container" action="/sessions" method="POST">
    <div class="form_lables">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="form_lables">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="submit_button">
      <input type="submit" value="Log-in!!">
    </div>
  </form>

</div>
