<div>
  <h1>Log-in</h1>


  <form action="/sessions" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="Please enter your email address">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Log-in!!">
    </div>
  </form>

</div>
