<div>
  <h1>Register with Dev Overflow</h1>


  <form action="/users" method="POST">
    <div>
      <label for="display_name">Name:</label>
      <input type="text" name="display_name" placeholder="Please enter your name">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="Please enter your email address">
    </div>
    <div>
      <label for="password_hash">Password:</label>
      <input type="password" name="password_hash">
    </div>
    <div>
      <input type="submit" value="Register!!">
    </div>
  </form>

</div>
