
 <link rel="stylesheet" href="/css/header.css">

<% if current_user %>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
<% else %>
  <a class='link' style='color:white;' href="/sessions/new" text='white'>Login</a>
  <a class='link' style='color:white;' href="/users/new">Register</a>
<% end %>
