<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/layout.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>DevOverflow</title>
</head>
<header id="header">
  <%= erb :_header %>
  <header></header>
</header>
<body>

  <h1 id="logo"><a class='link' id='title' style='color:black;' href="/questions">DevOverflow</a></h1>
  <h2 id='code'>json.loads('["foo", {"bar":["baz", null, 1.0, 2]}]')</h2>
  
  <%= yield %>
</body>
<footer id='otherfoot'>
  <img id='pic1' src="https://aspblogs.blob.core.windows.net/media/dwahlin/Media/JavaScript-logo.png" height='100' width='100'>
  <img id='pic2' src="https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/python.png" height='100' width='100'>
  <img id='pic3' src="http://blog.ittestsonline.com/wp-content/uploads/2015/03/ruby-mini-logo.png" height='100' width='100'>
  <img id='pic4' src="http://www.kitsonlinetrainings.com/wp-content/uploads/2016/05/Java_logo.png" height='100' width='150'>
  <img id='pic5' src="http://insights.dice.com/wp-content/uploads/2012/03/google-go-logo.jpg" height='100' width='150'>
  <img id='pic6' src="https://qph.ec.quoracdn.net/main-qimg-9c7723e302afb4d0063023eba3055e9e?convert_to_webp=true" height='100' width='100'>
  <img id='pic7' src="http://www.infragistics.com/community/cfs-file.ashx/__key/CommunityServer.Blogs.Components.WeblogFiles/anarain.metablogapi/1884.css_5F00_373844B8.png" height='100' width='100'>
  <img id='pic8' src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2000px-HTML5_logo_and_wordmark.svg.png" height='100' width='100'>
  <img id='pic9' src="http://www.unixstickers.com/image/cache/data/stickers/C/C.sh-600x600.png" height='100' width='100'>
  <img id='pic9' src="http://www.unixstickers.com/image/cache/data/stickers/C/C++-unofficial.sh-600x600.png" height='100' width='100'>
  <img id='pic10' src="http://cdn3.macworld.co.uk/cmsdata/features/3640347/learn_c_sharp_mac_osx_thumb800.jpg" height='100' width='100'>
</footer>
<footer id="mainfoot" style='color:white'>
var code = '"\u2028\u2029"';
JSON.parse(code);
eval(code);
</footer>
</html>
